.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding-left: 25px;
  background: $color-bg-dark;
  &__list {
    display: flex;
    flex-wrap: wrap;
    // padding-right: 100px;
    li {
      margin-right: 30px;
    }
    i {
      width: 16px;
      margin-right: 10px;
    }
  }
}
