.footer {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: baseline;
  padding: rem-calc(25 25);
  background: $color-bg-dark;
  &__logo {
    font-family: $font-logo;
    // margin-right: 30px;
    margin: rem-calc(0 30 20 0);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-right: rem-calc(100);
    li {
      margin: rem-calc(0 30 10 0);
      a {
        font-size: $font-size-sm * 1.1;
        font-weight: $semibold;
        color: white;
      }
    }
    i {
      width: rem-calc(16);
      font-size: $font-size-sm;
      margin-right: rem-calc(10);
    }
  }
  @media (min-width: 900px) {
    justify-content: space-between;
    &__list {
      padding-right: rem-calc(0);
    }
    &__logo,
    li {
      margin: rem-calc(0 30 0 0);
    }
  }
}
