.header {
  &__main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem-calc(60);
  }
  &__logo {
    font-family: $font-logo;
    font-size: $font-size-xl;
  }
  &__back {
    position: absolute;
    left: rem-calc(20);
  }
  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-bg-medium;
    box-shadow: inset rem-calc(0 2 4 -3) $color-bg-dark;
    label {
      width: rem-calc(30);
      cursor: pointer;
    }
    input {
      @include size(rem-calc(133), rem-calc(50));
      border: none;
      font-size: $font-size-base;
      background-color: transparent;
      color: black;
      &:focus {
        outline: none;
      }
    }
  }
  &__explore {
    @include center-max;
    display: flex;
    flex-direction: column;
    padding: rem-calc(40 35 60 35);
    text-align: center;
    height: rem-calc(285);
    justify-content: space-between;
    align-items: center;
    background-color: $color-bg-light;
    h1 {
      padding: rem-calc(0 10);
    }
    p {
      font-size: $font-size-base * 1.1;
      font-weight: $light;
    }
  }
  &__banner {
    height: rem-calc(255);
    &--palette {
      @include size(100%, rem-calc(300px));
      background: url(../../images/restaurants/paletteDuGout.webp) center/cover;
    }
    &--fra {
      @include size(100%, rem-calc(300px));
      background: url(../../images/restaurants/Francaise.webp) center/cover;
    }
    &--note {
      @include size(100%, rem-calc(300px));
      background: url(../../images/restaurants/noteEnchantée.webp) center/cover;
    }
    &--sens {
      @include size(100%, rem-calc(300px));
      background: url(../../images/restaurants/deliceDesSens.webp) center/cover;
    }
  }
}
