.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  background: $color-bg-light;
  padding: rem-calc(40 15 75 15);
  @include border-radius(top, rem-calc(40));
  .order {
    margin: 0 auto;
    margin-top: rem-calc(40);
    width: rem-calc(185);
  }
}

.heading-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &__title {
    font-family: $font-logo;
    font-size: $font-size-lg * 1.1;
    margin-bottom: rem-calc(45);
  }
  &__heart {
    font-size: $font-size-lg;
    margin-right: rem-calc(20);

    i {
      &.fas.fa-heart {
        display: none;
      }
    }
  }
}

.menu-container {
  @media (min-width: 1200px) {
    display: grid;
    column-gap: rem-calc(35);
    grid-template-columns: repeat(3, 1fr);
  }
}

.menu {
  &__title {
    padding-bottom: rem-calc(10);
    font-size: $font-size-base;
    font-weight: $light;

    &::after {
      display: block;
      content: "";
      @include size(rem-calc(40), rem-calc(2));
      margin-top: rem-calc(5);
      background: $color-tertiary;
    }
  }
}

.dish {
  position: relative;
  @include size(100%, rem-calc(70));
  margin-bottom: rem-calc(20);
  background-color: white;
  padding: rem-calc(15);
  @include border-radius(all, 15px);
  box-shadow: rem-calc(0 3 10) rgb(153 153 153 / 60%);
  &__title {
    margin-bottom: rem-calc(5);
    font-size: $font-size-base * 1.1;
    font-weight: $semibold;
  }
  &__caption {
    p {
      font-size: $font-size-sm;
    }
    span {
      font-size: $font-size-sm;
      position: absolute;
      right: rem-calc(20);
      bottom: rem-calc(10);
    }
    i {
      display: none;
    }
  }
}
