.btn {
  padding: 15px;
  border: none;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  a {
    color: white;
    font-weight: $semibold;
  }
  @include gradient($color-secondary, $color-primary);
  &:hover {
    @include gradient($color-primary, $color-secondary);
    transition: 0.7s;
  }
}
