.btn {
  position: relative;
  padding: 15px;
  border: none;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 6px 20px rgb(153 153 153 / 60%);
  z-index: 1;
  a {
    color: white;
    font-weight: $semibold;
  }
  @include gradient($color-secondary, $color-primary);
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    content: "";
    position: absolute;
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    @include gradient(lighten($color-primary, 7), lighten($color-secondary, 7));
    box-shadow: 2px 15px 15px rgb(153 153 153 / 80%);
    z-index: -1;
    transition: opacity 500ms;
  }
}
