* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  /* overflow-x: hidden; */
}

ul {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  top: -50%;
}
