@mixin border-radius($corners: "all", $radius: $defaultRadius) {
  border-radius: radiusValue($corners, $radius);
}

// mixin for easily setting the width and height (size) and an element.
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
